*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1{
    font-family: 'Belanosima', sans-serif;
    font-size: 2.5em;
}
h2{
    font-size: 2.0em;
}
h3{
    font-size: 2em;
}

p{
    font-size: 1.25em;
}

ul{
    list-style: none;
}

li{
    font-size: 1.2em;
}

#contacto{
    font-family: 'Poppins', sans-serif;
    color: black;
    text-decoration:underline;
    font-size: 2em; 
}

#contacto:hover{
    color:#FC7300;
}

button{
    font-size: 1.5em;
font-weight: bold;
padding: 10px 20px;
border-radius: 10px;
background-color:#00425A;
color: #FC7300;
}

input#boton{
font-size: 1.5em;
font-weight: bold;
padding: 10px 20px;
border-radius: 10px;
background-color:#00425A;
color: #FC7300;
}

input#boton:hover{
    background-color: #1F8A70;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #EFF5F5;
    margin: 0;
}


.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

.container{
    max-width: 1400px;
    margin: auto;
}

header .logo{
    margin: 0;
    padding: 25px 30px;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.35em;

}

header a{
    font-weight: 600;
    padding: 5px 12px;
    text-decoration: none;
    color: #FC7300;
}

nav a:hover{
    color: #1F8A70;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header{
    background-color: #00425A;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("/imagenes/biblioteca.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#quienes-somos .container{
    text-align: center;
    padding: 200px 12px;
}

/* Propuesta Educativa seccion */

#prop-educativa{
    text-align: center;
    color: white;
}

#prop-educativa h2{
    margin-top: 0;
    color: black;
    font-size: 3.2em;
}

#prop-educativa p{
    display: none;
     
}

#prop-educativa .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

#prop-educativa .container{
    padding: 100px 10px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("/imagenes/kids.jpg");
    
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("/imagenes/books.jpg");
    

}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("/imagenes/secundaria.jpg");
    
}

/* Seccion de porque elegirnos*/

#porque-elegirnos .container{
   text-align: center;
    padding: 100px 15px;
    
}

#porque-elegirnos h2{
    
    margin-left: 40px;
}

#porque-elegirnos li{
    
    margin: 14px 5px;
    font-weight: bold;
}

/* Seccion de noticas */

#ultimas-noticias{
    text-align: center;
    color: white;
}
#ultimas-noticias .container{
padding: 100px 0px;

}

#ultimas-noticias .noticia{
    background-position: center center;
    background-size: cover;
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.noticia:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("/imagenes/escuela.jpg");
}

.noticia:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    ,url("/imagenes/lapiz.jpg");
}

/* Enlace al formulario */


#formulario{
    display: flex;
    justify-content: center;
    padding: 20px;
}

#formulario a{
    text-align: center;
    margin: 0;
}

/*Estilos del footer */

footer{
    background-color:#00425A;
}

footer p{
margin: 0;
color: #FC7300;
padding: 12px;
}

footer .container{
height: 150px;
display: flex;
justify-content: center;
align-items: flex-end;
}


/* Estilos del formulario en pestaña aparte */

#form-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #EFF5F5;

}


form{
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    padding: 50px 55px;
    border-radius: 20px;
    text-align: center;
    width: 340px;
    margin: auto;
}

.datos-form{
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 2.5em;
}

.datos-form label{
    text-align: left;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;

}

.datos-form input{
    width: 100%;
}

textarea{
    resize: none;
}

/* Version para escritorio */

@media (min-width: 768px){

    header{
        position: fixed;
        width: 100%;
    }


header .container{
    flex-direction: row;
    justify-content: space-between;
}

header nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 20px;
}

#quienes-somos .container{
    display: flex;
    justify-content: center;

}

#quienes-somos .texto{
    width: 50%;
    max-width: 600px;
    text-align: initial;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#quienes-somos .img-container{
    background-image: url("/imagenes/escuelafuera.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px;
}

#prop-educativa .programas{
display: flex;
justify-content: center;
}

#prop-educativa p{
    display: block;
    margin-bottom: 30px;
}

#prop-educativa .carta{
padding: 15px;
}

#porque-elegirnos .container{
text-align: initial;
display: flex;
    justify-content: center;
}

#porque-elegirnos h2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2.5em;
    align-items: center;
    margin-left: 100px;
}

#porque-elegirnos ul{
margin-left: 50px;
}

#porque-elegirnos li{
    width: 90%;
    max-width: 600px;
    text-align: initial;
    padding-left: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#porque-elegirnos .img-graduacion{
    background-image: url("/imagenes/graduacion.jpg");
    background-size: cover;
    background-position: center center;
    height: 500px;
    width: 500px;
}


}


